body {
    background-color: #171717;
    color: seashell;
    font-family: Oswald, sans-serif;
}

main {
    margin-left: 1%;
}

/* Header style */

header {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
}

li {
    color: seashell;
    padding: 1rem 2rem;
    font-size: 2rem;
}

/* About style */

h2 {
    color: #A58961;
    font-size: 2rem;
    text-decoration: underline;
}

.container {
    display: flex;
}

.container .text {
    width: 65%;
    margin-right: 7%;
    font-size: 1.5rem;
}

.container img {
    width: 25%;
    height: 5%;
}

/* Projects style */

summary {
    font-size: 1.75rem;
    padding: 1rem 0;
}

details img {
    height: 25%;
    width: 70%;
    margin-left: 10%;
    padding-top: 3%;
}

details p {
    font-size: 1.5rem;
    margin-left: 10%;
    padding-bottom: 3%;
}

#img1 {
    height: 500px;
    width: auto;
}

/* Skills style */

.container2 {
    display: flex;
    justify-content: space-between;
    background-color: seashell;
}

.container2 img {
    height: 10%;
    width: 10%;
    padding-top: 3%;
}

/* Footer style */

footer {
    display: flex;
    justify-content: space-between;
}

footer p{
    
    font-size: 1.5rem;
    margin-right: 1%;
}

#theme {
    
    width: 10%;
    margin-top: 2rem;
    background-color: #A58961;
    color: seashell;
    font-family: Oswald, sans-serif;
    font-size: 1.3rem;
}

@media only screen and (min-width: 700px) {
    li {
        display: inline-block;
    }

}

@media only screen and (max-width: 699px){
    
    ul {
        list-style: none;
        margin-top: 0;
    }
    
    li {
        color: seashell;
        padding: 1rem 2rem;
        font-size: 2rem;
    }

}

